<!DOCTYPE html>
    <head>
        <title>Get A Quote</title>
    </head>
    <body>
        <h1>Quotation Form</h1>
        <div class="containter-fluid">
            <form name="contact-details" action="API/new_client" method="post">
                <div class="personal-info">
                    <div class="business-name">
                        <input id="name" name="name" placeholder="Business Name">
                    </div>
                    <div class="contact-name">
                        <input id="fname" name="fname" placeholder="First Name">
                        <input id="lname" name="lname" placeholder="Last Name">
                    </div>
                    <div class="contact-details">
                        <input id="phone" name="phone" placeholder="Phone Number">
                        <input id="email" name="email" placeholder="Email Address">
                    </div>
                </div>
                <div class="address">
                    <div class="row">
                        <input id="add1" name="add1" placeholder="Street Address">
                    </div>
                    <div class="row">
                        <input id="add2" name="add2" placeholder="Street Address Line 2">
                    </div>
                    <div class="row">
                        <input id="city" name="city" placeholder="City">
                    </div>
                    <div class="row">
                        <input id="pCode" name="pCode" placeholder="Postal/Zip Code">
                    </div>
                </div>
                <div class="row">
                    <input type="submit" name="submit"/>
                </div>
            </form>
        </div>
    </body>
</html>